
{% include "header.html" %}
<body class="is-preload">

	<div class="container">
		<div class="table-wrapper">
		  <table class="alt">
			<thead>
			  <tr>
				<th>Date-Time</th>
				<th>Name</th>
				<th>Message</th>
				<th>Status</th>
			  </tr>
			</thead>
			<tbody>
			{% for i in range(responses|length) %}
			  <tr>
				<td>{{ responses[i]['date'] + " - " + responses[i]['time']}}</td>
				<td>{{ responses[i]['name'] }}</td>
				<td>{{ responses[i]['message'] }}</td>
				<td>{{ responses[i]['status'] }}</td>
			  </tr>
			{% endfor %}
			</tbody>
			<tfoot>
			  <tr>
				<td colspan="2"></td>
				<td></td>
			  </tr>
			</tfoot>
		  </table>
		</div>
	</div>

</body>

{% include "footer.html" %}