{% include 'header.html' %}
<body class="is-preload">

    <!-- Header -->
        <header id="header">
            <div class="inner">
                <a href="#" class="image avatar"><img src="../static/images/avatar1.jpg" alt="" /></a>
                <h1><strong>Work in progress</strong><br />
                This will be the dashboard which i am working on<br />
            </div>
        </header>

    <!-- Main -->
    {% include 'navbar.html' %}
        <div id="main">

            <!-- One -->
                <section id="one">
                    <header class="major">
                        <h2>This will become the dashboard.</h2>
                    </header>
                    <p>
                        From here you will be able to access everything, 
                        Vaishnav's portfolio, Blogs, Your Profile, Your comments on blogs and more.
                        Stay tuned for updates.
                    </p>
                    <ul class="actions">
                        <li><a href={{url_for('home')}} class="button">Home Page</a></li>
                    </ul>

                   
                </section>
    </div>
    </body>
{% include 'footer.html' %}