{% include "header.html" %}

	<body class="is-preload">

		<!-- Header -->
			<header id="header">
				<div class="inner">
					<a href="/" class="image avatar"><img src="../static/images/avatar1.jpg" alt="" /></a>
					<h1><strong>I am Vaishnav</strong>, a budding developer<br />
					and a computer science student<br />
					at <a href="http://iiitsonepat.ac.in/">IIIT Sonepat</a>.</h1>
				</div>
			</header>

		<!-- Main -->
		{% include "navbar.html" %}
			<div id="main">
				

				<!-- One -->
					<section id="one">
						<header class="major">
							<h2>This is my Portfolio website
								built using the Flask framework</h2>
						</header>
						<p>
							I am a fast learner and currently I am working on upskilling my
							python proffieciency from basic scripting to advanced concepts in
							data sceince and ML, using the 100 days of python code bootcamp
  						by Dr. Angela Yu. I also have expireince with java script and express js
							 framework. Furthermore, I am fairly confident about my DSA skills.
						</p>
						<ul class="actions">
							<li><a href="https://www.linkedin.com/in/nuethy/" class="button">Learn More</a></li>
						</ul>
					</section>


				<section id="skills">
					<h2>My Skills</h2>
					<div class="row">
			      <div class="col-6 col-12-xsmall">
					<ul class="alt">
						<li>Python Development.</li>
						<li>SQL with python</li>
						<li>Core HTML, CSS and bootstrap</li>
						<li>JavaScript and JQuery</li>
						<li>NodeJS and ExpressJS</li>
					</ul>

				</div>
				<div class="col-6 col-12-xsmall">
			<ul class="alt">
				<li>MongoDB and Mongoose</li>
				<li>App Development with Flutter</li>
				<li>Leadership</li>
				<li>Communication</li>
				<li>Public Relations</li>
			</ul>

		</div>
				</div>

				</section>

					<section id="two">
						<h2>Recent Work</h2>
						<div class="row">
							{%for project in projs%}
							<article class="col-6 col-12-xsmall work-item">
								<a href={{project['repo_link']}} target="_blank" class="image fit thumb">
									<img src={{project['image_link']}} />
								</a>
								<h3>{{project['name']}}</h3>
								<p>{{project['desc']}}</p>
							</article>
							{%endfor%}
						</div>
						<ul class="actions">
							<li><a href="https://github.com/Nuethera?tab=repositories" target="_blank"
								 class="button">Full Portfolio</a></li>
						</ul>
					</section>

				<!-- Three -->
					<section id="three">
						<h2>Get In Touch</h2>
						<p>You can reach out to me using this form or drop me an email.
						I typically reply with in 24h.</p>
						<div class="row">
							<div class="col-8 col-12-small">
								<form method="post" action="" id="contact-form" name="contact-form">
									<div class="row gtr-uniform gtr-50">
										<div class="col-6 col-12-xsmall">
											<input type="text" name="name" id="name" placeholder="Name" required/></div>
										<div class="col-6 col-12-xsmall">
											<input type="email" name="email" id="email" placeholder="Email" required/></div>
										<div class="col-12">
											<textarea name="message" id="message" placeholder="Message" rows="4" required ></textarea></div>
									</div>
									<p class="error">

									</p>
								</form>
								<ul class="actions">
									<li><input type="submit" value="Send Message" form="contact-form"/></li>
								</ul>
							</div>
							<div class="col-4 col-12-small">
								<ul class="labeled-icons">
									<li>
										<h3 class="icon solid fa-home"><span class="label">Address</span></h3>
										You can Hire me
									</li>
									<li>
										<h3 class="icon solid fa-mobile-alt"><span class="label">Phone</span></h3>
										Or Collaborate on Projects
									</li>
									<li>
										<h3 class="icon solid fa-mobile-alt"><span class="label">Phone</span></h3>
										Or Just talk about Tech
									</li>
									<li>
										<h3 class="icon solid fa-envelope"><span class="label">Email</span></h3>
										<a href="mailto:vaishnavj2124@outlook.com">vaishnavj2124@outlook.com</a>
									</li>
								</ul>
							</div>
						</div>
					</section>

			</div>
			
			{% include "footer.html" %}