<!DOCTYPE HTML>
<html>
	<head>
		<title>Vaishnav Jha</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="../static/assets/css/main.css" />
		<link rel="icon" href="static/images/favicon.ico">
		<script src="https://kit.fontawesome.com/4b6fe19177.js" crossorigin="anonymous"></script>
	</head>
	<body class="is-preload">

		<!-- Header -->
			<header id="header">
				<div class="inner">
					<a href="#" class="image avatar"><img src="../static/images/avatar1.jpg" alt="" /></a>
					<h1><strong>I am Vaishnav</strong>, a budding developer<br />
					and a computer science student<br />
					at <a href="http://iiitsonepat.ac.in/">IIIT Sonepat</a>.</h1>
				</div>
			</header>

		<!-- Main -->
			<div id="main">

				<!-- One -->
					<section id="one">
						<header class="major">
							<h2>This is my Portfolio website
								built using the Flask framework</h2>
						</header>
						<p>
							I am a fast learner and currently I am working on upskilling my
							python proffieciency from basic scripting to advanced concepts in
							data sceince and ML, using the 100 days of python code bootcamp
  						by Dr. Angela Yu. I also have expireince with java script and express js
							 framework. Furthermore, I am fairly confident about my DSA skills.
						</p>
						<ul class="actions">
							<li><a href="https://www.linkedin.com/in/nuethy/" class="button">Learn More</a></li>
						</ul>
					</section>

				<!-- Two -->
<!--
		Template for portfolio projects

				<article class="col-6 col-12-xsmall work-item">
					<a href="repo link" class="image fit thumb"><img src="image link" alt="" /></a>
					<h3>title/h3>
					<p>desc</p>
				</article>

-->

				<section id="skills">
					<h2>My Skills</h2>
					<div class="row">
			      <div class="col-6 col-12-xsmall">
					<ul class="alt">
						<li><i class="fa-brands fa-python"></i>Python Development.</li>
						<li>SQL with python</li>
						<li>Core HTML, CSS and bootstrap</li>
						<li>JavaScript and JQuery</li>
						<li>NodeJS and ExpressJS</li>
					</ul>

				</div>
				<div class="col-6 col-12-xsmall">
			<ul class="alt">
				<li><i class="fa-brands fa-python"></i>MongoDB and Mongoose</li>
				<li>App Development with Flutter</li>
				<li>Leadership</li>
				<li>Communication</li>
				<li>Public Relations</li>
			</ul>

		</div>
				</div>

				</section>

					<section id="two">
						<h2>Recent Work</h2>
						<div class="row">
							<article class="col-6 col-12-xsmall work-item">
								<a href="../static/images/fulls/01.jpg" class="image fit thumb"><img src="../static/images/thumbs/01.jpg" alt="" /></a>
								<h3>Text To Morse Code</h3>
								<p>This is a simple python script that converts normal english
									 text to morse code</p>
							</article>
							<article class="col-6 col-12-xsmall work-item">
								<a href="../static/images/fulls/02.jpg" class="image fit thumb"><img src="../static/images/thumbs/02.jpg" alt="" /></a>
								<h3>Transcriber Application</h3>
								<p>This is a TK-inter application that transcribes speech to
									text and translates it too.</p>
							</article>
						</div>
						<ul class="actions">
							<li><a href="https://github.com/Nuethera?tab=repositories" target="_blank"
								 class="button">Full Portfolio</a></li>
						</ul>
					</section>

				<!-- Three -->
					<section id="three">
						<h2>Get In Touch</h2>
						<p>I am open to colaborations and projects. So, if you have ideas
							do consider getting in touch.</p>
						<div class="row">
							<div class="col-8 col-12-small">
								<form method="post" action="#">
									<div class="row gtr-uniform gtr-50">
										<div class="col-6 col-12-xsmall"><input type="text" name="name" id="name" placeholder="Name" /></div>
										<div class="col-6 col-12-xsmall"><input type="email" name="email" id="email" placeholder="Email" /></div>
										<div class="col-12"><textarea name="message" id="message" placeholder="Message" rows="4"></textarea></div>
									</div>
								</form>
								<ul class="actions">
									<li><input type="submit" value="Send Message" /></li>
								</ul>
							</div>
							<div class="col-4 col-12-small">
								<ul class="labeled-icons">
									<li>
										<h3 class="icon solid fa-home"><span class="label">Address</span></h3>
										IIIT Sonepat<br />
										SBIT, Palri Khurd<br />
										Haryana
									</li>
									<li>
										<h3 class="icon solid fa-mobile-alt"><span class="label">Phone</span></h3>
										000-000-0000
									</li>
									<li>
										<h3 class="icon solid fa-envelope"><span class="label">Email</span></h3>
										<a href="mailto:vaishnavj2124@outlook.com">vaishnavj2124@outlook.com</a>
									</li>
								</ul>
							</div>
						</div>
					</section>

			</div>

		<!-- Footer -->
			<footer id="footer">
				<div class="inner">
					<ul class="icons">
						<li><a href="https://www.linkedin.com/in/nuethy/" target="_blank" class="icon brands fa-linkedin"><span class="label">Twitter</span></a></li>
						<li><a href="https://github.com/Nuethera" target="_blank" class="icon brands fa-github"><span class="label">Github</span></a></li>
						<li><a href="https://www.instagram.com/nuethy/" target="_blank" class="icon brands fa-instagram"><span class="label">Dribbble</span></a></li>
						<li><a href="mailto:vaishnavj2124@outlook.com" target="_blank" class="icon solid fa-envelope"><span class="label">Email</span></a></li>
					</ul>
					<ul class="copyright">
						<li>&copy; Vaishnav Jha</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
					</ul>
				</div>
			</footer>

		<!-- Scripts -->
			<script src="../static/assets/js/jquery.min.js"></script>
			<script src="../static/assets/js/jquery.poptrox.min.js"></script>
			<script src="../static/assets/js/browser.min.js"></script>
			<script src="../static/assets/js/breakpoints.min.js"></script>
			<script src="../static/assets/js/util.js"></script>
			<script src="../static/assets/js/main.js"></script>

	</body>
</html>
